@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffaf0;
    --foreground: #170801;
  }
}

@font-face {
  font-family: 'PixMono';
  src: url('/fonts/pix_mono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PixBold';
  src: url('/fonts/pix_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PixSans';
  src: url('/fonts/pix_sans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'PixSans', sans-serif;
  background: var(--background);
  background-image: url("/images/web_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0; 
}

